<style>


  .modal-fullscreen {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      max-width: none;
      transition: transform 0.3s ease-in-out;
  }


  .modal-title {
      font-weight: bold;
      font-size: 24px;
  }

  .close {
      color: #fff;
      font-size: 24px;
      opacity: 0.8;
  }

  .close:hover {
      color: #ddd;
      opacity: 1;
  }

  .modal-body {
      height: calc(100% - 80px);
      overflow-y: auto;
      padding: 0;
      background-color: #f9f9f9;
  }

  iframe {
      border: none;
      width: 100%;
      height: 100%;
  }


</style>
<div class="container my-5 text-center">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fullScreenModal">
  Open Full-Screen Google Form
</button>
</div>

<!-- Full-Screen Modal -->
<div class="modal fade" id="fullScreenModal" tabindex="-1" role="dialog" aria-labelledby="fullScreenModalLabel" aria-hidden="true">
<div class="modal-dialog modal-fullscreen" role="document">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <!-- Embed Google Form -->
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfD9KjS5Gslr8L9L5KcV0VJm4h47s2b3hQkW-dlycS8j1XkzQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
  </div>
</div>
</div>
<section class="tv-effect-container">
  <div class="container">
    <iframe class="tv-iframe" id="tvIframe"></iframe>
  </div>
</section>