
  <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup {
      clear: left;
    }
    @media (max-width: 768px) {
      #mc_embed_signup .mc-address-fields-group {
        display: block;
      }
    }
  </style>
  <div id="mc_embed_shell">
  <div id="mc_embed_signup">
    <form action="https://woofya.us17.list-manage.com/subscribe/post?u=064d3dec259208b840dd27762&amp;id=b9a76b4867&amp;f_id=00c310e3f0"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate needs-validation" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        
        <div class="form-group">
          <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
          <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" required>
          <div class="invalid-feedback">Please provide a valid email address.</div>
        </div>

        <div class="form-group">
          <label for="mce-FNAME">Your Name <span class="asterisk">*</span></label>
          <input type="text" name="FNAME" class="form-control" id="mce-FNAME" required>
          <div class="invalid-feedback">Please provide your name.</div>
        </div>

        <div class="form-group">
          <label for="mce-LNAME">Dogs Names & Breeds</label>
          <input type="text" name="LNAME" class="form-control" id="mce-LNAME">
        </div>

        <div class="form-group">
          <label for="mce-ADDRESS-city">Suburb/City <span class="asterisk">*</span></label>
          <input type="text" name="ADDRESS[city]" class="form-control" id="mce-ADDRESS-city" required>
          <div class="invalid-feedback">Please provide your suburb or city.</div>
        </div>

        <div class="form-group">
          <label for="mce-ADDRESS-state">State <span class="asterisk">*</span></label>
          <input type="text" name="ADDRESS[state]" class="form-control" id="mce-ADDRESS-state" required>
          <div class="invalid-feedback">Please provide your state.</div>
        </div>

        <div class="form-group">
          <label for="mce-ADDRESS-zip">Post Code <span class="asterisk">*</span></label>
          <input type="text" name="ADDRESS[zip]" class="form-control" id="mce-ADDRESS-zip" required>
          <div class="invalid-feedback">Please provide your post code.</div>
        </div>

        <div class="form-group">
          <label for="mce-ADDRESS-country">Country</label>
          <select name="ADDRESS[country]" id="mce-ADDRESS-country" class="form-control" required>
            <!-- Options as in your original code -->
          </select>
        </div>

        <div class="form-group">
          <label for="mce-PHONE">Phone Number</label>
          <input type="text" name="PHONE" class="form-control" id="mce-PHONE">
        </div>

        <div id="mce-responses" class="clear foot">
          <div class="response" id="mce-error-response" style="display: none;"></div>
          <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>

        <div aria-hidden="true" style="position: absolute; left: -5000px;">
          <input type="text" name="b_064d3dec259208b840dd27762_b9a76b4867" tabindex="-1" value="">
        </div>

        <div class="optionalParent">
            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Join</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
