/* #00BCD4 
drew pink #fd005b
drew yellow #f8b715
*/

:root {
  /* --main-color: #00BCD4;
  --second-color: #00BCD4; */
  --main-color: #219ebc;
  --main-color-light: #8ecae6;
  --second-color: #fb8500;
  --second-color-light: #ffb703;
  --black: #080808;
  --dark: #023047;
  --light: #fff;
  --light-gray: #f2f2f2;

  --heading-font: "Noto Sans", sans-serif;
  --body-font: "roboto", monospace;
  --title-font: 'Fredoka One', cursive;
}

.roboto-mono-regular {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


h2.title-font{
  text-shadow: 1px 1px 8px #f2f2f2;
}



h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 800;
  font-style: normal;
  letter-spacing: -1px;
  color: var(--dark);
}

h2{
  text-transform: capitalize;
}

h4{
  color: var(--white);
  font-family: var(--body-font);
  font-weight: 500;
  letter-spacing: 0px;
  font-size: 1em !important;
}

.btn-primary {
  background-color: var(--main-color)!important;
  padding: 15px 30px;
  font-size: 15px;
  border-radius: 40px;
  box-shadow: none;
  text-transform: unset;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  transform: scale(1.05);
}
:not(.btn-check) + &:hover,
&:first-child:hover,
&:focus-visible,
&:hover {
  box-shadow: none;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle{

  background-color: var(--main-color)!important;
}

.card {
  box-shadow: none;
  /* border-radius: 2rem !important; */
  overflow: hidden;
}

main section{
  margin-bottom: 5rem!important;
  padding: 30px 0;
}

p {font-size: 1.3rem; 
  font-weight: 300;}

a {
    font-weight: 500;
  }

/* Use these custom variables... */

/* ...or add this class to an element */
.polka {
  background-image: 
    radial-gradient(rgb(255, 255, 255) 10%, transparent 10%),
    radial-gradient(rgb(255, 255, 255) 10%, transparent 10%);
  background-position: 0px 0px, 28px 28px;
  background-size: 56px 56px;
  background-color: var(--main-color);
}

html,
body,
header,
.view {
  height: 100%;
  font-family: var(--body-font);
  color: var(--dark);
  font-weight: 300;
  font-size:1rem;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

/* Ensure the website scales down for screens smaller than 385px */
@media (max-width: 385px) {
  .overlay .overlay-btn, .hero .middle {
      transform: scale(0.85);
      /* transform-origin: top left; */
  }
}
/* @media (min-width: 800px) and (max-width: 850px) {
          .navbar:not(.top-nav-collapse) {
              background: #1C2331!important;
          }
      } */


/* body {
margin: 0;
padding: 0;
color: white;
text-shadow: 0px 2px 7px #41342c;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
} */

/* * {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
} */

body {
background-color:  #f2f2f2;
}

/* section.hero {
color: white;
text-shadow: 0px 2px 7px #41342c;
width: 100vw;
height: 100vh;
max-width: 100%;
min-height:600px;
background: url('img/pexels-ben-mack-5326902.jpg') center;
background-size: cover;
background-attachment: fixed;
display: inline-block;
background-image: url(img/pexels-ben-mack-5326902.jpg), linear-gradient(transparent, var(--main-color), transparent);
background-blend-mode: overlay;
background-size: cover;
background-position: center;
} */

section.hero {
color: var(--dark);
/* text-shadow: 0px 2px 7px #41342c; */
width: 100vw;
height: 100vh;
max-width: 100%;
min-height:600px;
background-size: cover;
display: inline-block;
/* background-image: linear-gradient(var(--main-color), transparent); */
background-blend-mode: overlay;
background-size: cover;
background-position: center;
/* background-image: url(img/pexels-ben-mack-5326902.jpg), linear-gradient(transparent, var(--main-color), transparent); */
display: flex;
    align-items: center;
}

section.hero .container{
  margin-bottom: 20vh;
}

section.hero .content {
/* width: 100%;
max-width: 600px;
margin: 0 auto;
padding: 20px; */
width: 100%;
max-width: 600px;
margin: 0 auto;
padding: 20px;
display: flex;
/* height: calc(100vh - 30vh); */
align-items: center;
justify-content: center;
margin-top:100px;
}

/* section.hero .middle {
margin-top: 30vh;
} */

/* a.with-arrow::after{
content: '';
} */

h1.deardoggy img{
width:1.5em;
vertical-align: middle;
border-radius: 100%;
/* filter: drop-shadow(-5px -5px 10px var(--dark)); */
/* 
filter: drop-shadow(0px 2px 7px #41342c);

-webkit-filter: drop-shadow(0px 2px 7px #41342c); */
}

.deardoggy {
font-family: 'Fredoka One', cursive;
font-size: 1.5em;
}

h1.deardoggy {
margin: 0;
/* text-align: center; */
align-self: flex-start;
font-family: 'Fredoka One', cursive;
font-size: 1.5em;
/* color:#fff; */
color:var(--dark);
}

section.hero h2 {
margin: 0;
font-size: 3em;
}

section.hero p {
line-height: 30px;
font-size: 20px;
}

section.hero form {
text-align: right;
display: flex;
}

section.hero input {
font-size: 20px;
padding: 10px 20px;
border-radius: 2px;
border: none;
margin: 5px 0;
flex-grow: 2;
opacity: .9;
width:auto;
width: auto;
min-width: 100px;
}

section.hero input.button {
background-color: var(--main-color);
border-radius: 0 20px 20px 0;
padding: 15px;
color: var(--light);
flex-grow:1;
min-width:120px;
}

section.hero input.button:hover {
background-color: var(--main-color-light);
}

section.hero footer {
position: absolute;
bottom: 0;
right: 20px;
display: none;
}

.action {
margin:auto;
/* position:fixed; */
right:20px
}

.action-btn{ 
display: inline-block;
background-color: var(--main-color);
padding: 10px 20px;
color: white;
font-family: Roboto,sans-serif;
font-weight: 400;
border-radius: 10px;
}

a{
color:var(--main-color);
}

.navbar {
/* background-color:rgba(0,0,0,.3)!important; */
background-color: transparent!important;
box-shadow: none;
}

@media (min-width: 800px) and (max-width: 850px){
.navbar:not(.top-nav-collapse) {
  /* background-color:rgba(0,0,0,.3)!important; */
}
}

.navbar.top-nav-collapse {
  /* background-color: rgba(255, 255, 255, .8) !important; */
  background-image: linear-gradient(0deg, rgba(255, 255, 255, .9), var(--light))!important;

 /* #283149; */


}

.top-nav-collapse h1.deardoggy, .top-nav-collapse.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color:var(--dark);
}
.top-nav-collapse.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color:var(--main-color);
}

.page-footer {
background-color:var(--main-color);
 /* #283149; */     
}

.navbar-expand .navbar-nav .nav-link {
color: var(--dark)!important;
vertical-align: middle;
font-size: 30px;

}


/* .navbar{
background-color: transparent !important;
box-shadow: none;
} */


@media (max-width:640px){
.deardoggy{
  width: 30vw;
}

.action{
  position: relative;
}
}

@media (max-height:640px){

section.hero .middle {
margin-top: 20vh;
}

}


#exampleModal .modal-content {
background: transparent;
border: none;
}

.tv-effect-container {
position: relative;
width: 100%;
/* height: 100vh; */
display: flex;
align-items: top;
justify-content: center;
/* margin-top: -30vh; */
max-width: 800px;
max-height: 600px;
margin-bottom: 100px;
}

.tv-image, .tv-iframe {
width:100%;
max-width: 800px;
max-height: 600px;
transition: all 1s ease-in-out;
}

.tv-iframe {
display: none;
}

.tv-effect-active .tv-image {
width: 0;
height: 0;
opacity: 0;
}

.tv-effect-active .tv-iframe {
display: block;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 0;
height: 0;

border: 5px solid #321f53;
border-radius: 50px;
background-color: #f9f8f8;
}

.tv-effect-active .tv-iframe.expand-vertical {
height: 100vh;
max-height: 800px;
}

.tv-effect-active .tv-iframe.expand-horizontal {
width: 100vw;
max-height: 600px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.overlay .overlay-btn{
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--dark);
  background: rgba(255, 255, 255, 0.8);
  padding: 1em 2em;
  font-size: 1.5em;
  font-weight: 600;
  filter: drop-shadow(0 10px 20px #ccc);
  border: 5px solid #321f53;
  /* border: 2px solid #ddd; */
  border-radius: 15px;
  box-shadow: 0 10px 20px #ccc;
  transition: transform 0.3s;
  margin: 20px 0;
}

.overlay-img svg {
  width: 50px;
  height: 50px;
  fill: white;
  margin: 0 auto;
  display: block;
}

.tv-effect-active .overlay {
  opacity: 0;
}

.image-gradient {
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}



.tv-image{
-webkit-filter: drop-shadow(0 10px 20px #ccc);
filter: grayscale(.5) drop-shadow(0 10px 20px #ccc);
}
.tv-image:hover {
transform: scale(1.05);
}


.landing-nav-container .card {
  /* border: 5px solid #321f53; */
  /* border: 2px solid #ddd; */
  border-radius: 15px;
  box-shadow: 0 10px 20px #ccc;
  transition: transform 0.3s;
  margin: 20px 0;
}
.landing-nav-container .card:hover {
  transform: scale(1.05);
}
.landing-nav-container .card i {
  font-size: 50px;
  color: var(--main-color);
  margin-bottom: 15px;
}
.landing-nav-container .card h5 {
  /* font-family: 'Comic Sans MS', cursive, sans-serif; */
  color: #333;
  margin-bottom: 15px;
}
.landing-nav-container .card p {
  /* font-family: 'Comic Sans MS', cursive, sans-serif; */
  color: #666;
}
.landing-nav-container .card a {
  text-decoration: none;
  color: var(--light);
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.landing-nav-container .card a:hover {
  background-color: var(--main-color);
}
.landing-nav-container .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}
.landing-nav-container .row {
  justify-content: center;
}
.full-screen-menu {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(2 48 71 / 99%);
  z-index: 1000;
  text-align: center;
  padding-top: 100px;
}

.full-screen-menu .menu-item {
  display: block;
  font-size: 2.5em;
  color: white;
  text-decoration: none;
  margin: 20px 0;
  transition: color 0.3s;
}

.full-screen-menu .menu-item:hover {
  color: var(--main-color); /* Change color on hover */
}

.plain-page main{margin-top:200px}

/* Ensure that all elements are boxed correctly */
* {
  box-sizing: border-box;
}

/* Set up a fluid grid system */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Responsive typography */
body {
  font-size: 16px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

/* Ensure navigation is responsive */
.navbar {
  display: flex;
  flex-wrap: wrap;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navbar-nav {
      flex-direction: row;
  }
}

/* Fix for tables */
table {
  width: 100%;
  overflow-x: auto;
  display: block;
}

/* Flexbox for content sections */
.section {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .section {
      flex-direction: row;
  }
}

/* Additional tweaks for smaller screens */
@media (max-width: 767px) {
  .container {
      padding-right: 5px;
      padding-left: 5px;
  }

  .col {
      padding-right: 5px;
      padding-left: 5px;
  }

  .navbar-nav {
      flex-direction: column;
      font-size: 10px;
  }

  .woofya-signup-form input {
      font-size: 16px!important;
  }

  section.hero h2 {
      font-size: 40px;
  }
  h1.deardoggy span{
    display:none;
  }

}

/* Base styles for the menu icon */
.menu-icon {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  vertical-align: middle;
  margin-left: 10px;
}

.menu-icon div {
  width: 35px;
  height: 5px;
  background-color: var(--dark);
  margin: 6px 0;
  transition: 0.4s;
}

/* Create the cross effect */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: white;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  background-color: white;
  transform: rotate(45deg) translate(-8px, -8px);
}

.navbar.top-nav-collapse .change .bar1, .navbar.top-nav-collapse .change .bar3 {
  background-color: var(--dark);

}
